@import url("../css/base.css");
.content1{
	width: 100%;
	background: #970821;
}
.Top{
	width: 100%;
	height: 94px;
	background: orange;
}
.Top_box{
	width: 100%;
	height: 94px;
	margin: 0 auto;
	background: #FFFFFF;
}
.LOGO{
	width: 201px;
	height: 37px;
/* 	background: red; */
	float: left;
	margin-top: 32px;
	margin-left: 60px;
}
.LOGO img{
	width: 201px;
	height: 37px;
}
.Top_box2{
	width: 454px;
	height: 48px;
	background: #FFFFFF;
	float: left;
	margin-top: 23px;
	margin-left: 102px;	
	display: flex;
	justify-content: space-between;
	color: #666666;
	font: 14px/22px 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
	line-height: 48px;
}
.Top_box3{
	width: 14%;
	height: 51px;
/* 	background: blue; */
	float: right;
	margin-right: 76px;
	margin-top: 21.5px;
}
.Top_box3 h1{
	font-size: 20px;
	color: rgb(105, 105, 105);
	font-weight: normal;	
}
.Top_box3 h2{
	font-size: 13px;
	color: rgb(105, 105, 105);
	color: rgb(211, 0, 0);
	font-weight: normal;
}





.introduce{
	width: 100%px;
	height: 457px;
	background: orange;
	margin: 0 auto;
	position: relative;
}
.introduce img{
	width: 100%;
	height: 457px;
	position: absolute;
	left: 0;
	top: 0;	
}
.Button_left{
	width: 40px;
	height: 40px;
	background: yellow;
	position: absolute;
	top: 50%;
	left: 20px;
	border-radius: 50%;
	background: url('../img/large_left.png') no-repeat;
	transition: all 0.7s 0.1s;
}
.Button_left:hover{
	background: url('../img/large_left.png') no-repeat bottom;
}
.Button_right{
	width: 40px;
	height: 40px;
	background: yellow;
	position: absolute;
	top: 50%;
	right: 20px;
	border-radius: 50%;
	background: url('../img/large_right.png') no-repeat;
	transition: all 0.7s 0.1s;
}
.Button_right:hover{
	background: url('../img/large_right.png') no-repeat bottom;
}





.details{
	width: 100%;
	height: 1171px;
	padding-top: 60px;
	background: #F9F9F9;
	margin: 0 auto;
}
.details_box{
	width: 1137px;
	height: 956px;
	background: #F9F9F9;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.details_small_box{
	width: 359px;
	height: 455px;
	background: #FFFFFF;
	transition: all 0.7s 0.1s;
	position: relative;
	overflow: hidden;
}
.details_small_box:hover .Magnifier{
/* 	display: block; */
	transform: translateY(70px);
}
.details_small_box:hover{
	box-shadow: 0 5px 20px 5px #D8D8D8;
	transform: translateY(-2px);
	transition: all 0.7s 0.1s;
}
.details_box_picture{
	width: 347px;
	height: 217px;
	margin: 0 auto;
	margin-top: 6px;
}
.details_box_picture img{
	width: 347px;
	height: 217px;	
}
.details_small_box:hover .details_box_picture{
	box-shadow: 0 0 3px 6px rgba(175, 175, 175, 0.7);
	/* background: transparent; */
	opacity: 0.45;
}
.details_box_wenzi1{
	margin: 0 auto;
	width: 88.8%;
	height: 13px;
	font-size: 15px;
	line-height: 13px;	
	/* background: pink; */
	margin-top: 34px;
    color: #999999;	
}
.details_box_wenzi2{
	margin: 0 auto;
	width: 88.8%;
	height: 12px;
	font-size: 12px;
	line-height: 12px;	
	/* background: pink; */
	color: #b7b7b7;
	margin-top: 34px;
}
.details_box_wenzi3{
	margin: 0 auto;
	width: 88.8%;
	height: 12px;
	font-size: 12px;
	line-height: 12px;	
	/* background: pink; */
	color: #b7b7b7;
	margin-top: 10px;
}
.details_box_wenzi4{
	margin: 0 auto;
	width: 88.8%;
	height: 12px;
	font-size: 12px;
	line-height: 12px;	
	/* background: pink; */
	color: #b7b7b7;
	margin-top: 11px;
}
.details_box_wenzi5{
	margin: 0 auto;
	width: 88.8%;
	height: 12px;
	font-size: 12px;
	text-align: center;
	line-height: 12px;	
	/* background: pink; */
	color: #ff9191;
	margin-top: 44px;
}
.Magnifier{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
/* 	display: none; */
	transform: translateY(-35px);
	transition: all 0.7s 0.1s;
}
.understand_box{
	display: block;
	width: 192px;
	height: 35px;
	background: pink;
	margin: 0 auto;
	border: 1px solid #d1d1d1;
	background: #f9f9f9;
	font-size: 14px;
	color: #d0c1c1;
	text-align: center;
	line-height: 35px;
	margin-top: 75px;
}
.understand_box:hover{
	border: 1px solid #ff343e;
	color: #ff343e;	
}










.content2{
	width: 100%;
	background: orange;
}
.team{
	width: 100%;
	height: 376px;
	background: #ffffff;
	overflow: hidden;
}
.team_wenzi1{
	width: 1195px;
	height: 35px;
	/* background: orange; */
	margin: 0 auto;
	text-align: center;
	line-height: 35px;
	font-size: 26px;
	font-weight: normal;
	margin-top: 72px;
}
.team_wenzi2{
	width: 1195px;
	height: 17px;
	/* background: green; */
	margin: 0 auto;
	text-align: center;
	line-height: 17px;
	font-size: 13px;
	font-weight: normal;
	margin-top: 18px;
}
.team_box{
	width: 1200px;
	height: 137px;
	/* background: orange; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 59px;
}
.team_smallbox1{
	width: 190px;
	height: 137px;
	/* background: green; */
}
.team_icon{
	width: 64px;
	height: 64px;
	/* background: blue; */
	border: 1px solid red;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;
	margin: 0 auto;
	color: #ff343e;
}
.icon-pan_icon,.icon-biaoqian,.icon-gouwuche-copy,.icon-tuandui,.icon-zhaopianphotos11,.icon-duihao{
	font-size: 30px;
}

.team_wenzi3{
	width: 100%;
	height: 18px;
	/* background: pink; */
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	line-height: 18px;
	margin-top: 16px;
}
.team_wenzi4{
	width: 100%;
	height: 13px;
	/* background: pink; */
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	line-height: 13px;
	margin-top: 17px;
}





.effect{
	width: 100%;
	height: 1044px;
	background: #ffffff;
}
.effect_wenzi1{
	width: 1195px;
	height: 35px;
	/* background: orange; */
	margin: 0 auto;
	text-align: center;
	line-height: 35px;
	font-size: 26px;
	font-weight: normal;
	margin-top: 59px;
}
.effect_wenzi2{
	width: 1195px;
	height: 17px;
	/* background: green; */
	margin: 0 auto;
	text-align: center;
	line-height: 17px;
	font-size: 13px;
	font-weight: normal;
	margin-top: 16px;
}
.effect_box{
	width: 1178px;
	height: 769px;
	/* background: #970821; */
	margin: 0 auto;
	margin-top: 78px;
}
.effect_box_left{
	width: 769px;
	height: 769px;
	/* background: pink; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	float: left;
}
.effect_box_right{
	width: 390px;
	height: 387px;
	background: #7f7f7f;
	float: right;
}
.effect_box_small{
	width: 236px;
	height: 236px;
	background: green;
	overflow: hidden;
}
.effect_box_small:hover.effect_box_small img{
	transform: scale(1.1);
}
.effect_box_small img{
	width: 236px;
	height: 236px;
	transition: all 1s 0.1s;
}
.form1{
	width: 100%;
	height: 45px;
	text-align: center;
	line-height: 1.5em;
	font-size: 15px;
	color: #fff;
	margin-top: 47px;
}
.form2{
	width: 330px;
	height: 40px;
	background: pink;
	margin: 0 auto;
	margin-bottom: 13px;
}
.effect_box_right div:nth-child(2){
	margin-top: 28px;
}
.effect_box_right div:nth-child(5){
	margin-bottom: 0;
}
.form2 input{
	width: 325px;
	height: 40px;
	outline: none;
	padding-left: 5px;
	border: none;
}
.form3{
	display: block;
	width: 258px;
	height: 36px;
	margin: 0 auto;
	background: #ff343e;
	outline: none;
	border: none;
	margin-top: 23px;
	color: #ffffff;
}
